[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/tmanikonda
[access "refs/for/refs/*"]
	read = group user/tmanikonda
	push = group user/tmanikonda
	label-Code-Review = -2..+2 group user/tmanikonda
	label-Verified = -1..+1 group user/tmanikonda
	rebase = group user/tmanikonda
	removeReviewer = group user/tmanikonda
	submit = group user/tmanikonda
[access "refs/heads/*"]
	read = group user/tmanikonda
	create = group user/tmanikonda
	push = +force group user/tmanikonda
	pushMerge = group user/tmanikonda
[access "refs/tags/*"]
	push = group user/tmanikonda
	push = +force group user/tmanikonda
